<!DOCTYPE html>
<html>
<head>
  <title>Ironman!</title>
  <link rel="stylesheet" href="css/app.css">
</head>
<body>
  <div class="container">
    <h2>Welcome to Ironman!</h2>
    <div>
      <img class="img" src="images/iron-man.jpg" alt="IMG">
    </div>
  </div>
</body>
</html>
